* {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

.container {
  background-color: black;
  min-height: 100vh;
  width: 100%;
  position: relative;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: auto;
  padding: 20px 0;
}

.logo {
  width: 40%;
}

ul li {
  display: inline-block;
  list-style: none;
}

ul li a {
  color: white;
  text-decoration: none;
  margin: 0 10px;
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: auto;
  overflow: hidden;
}

.content .text {
  width: 40%;
  color: rgb(255, 255, 255);
}

.content .text h2 {
  font-size: 40px;
  color: rgb(118, 244, 34);
  text-transform: uppercase;
}

.content .text p {
  font-size: 18px;
  padding: 20px 0;
}

.content .text a {
  text-decoration: none;
  background-color: #fff;
  color: #000;
  padding: 8px 15px;
  border-radius: 20px;
}

.content .imag {
  width: 30%;
}

.content .imag img {
  width: 180px;
}

.icons {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}

.icons img {
  width: 40px;
  transition: 0.5s;
  cursor: pointer;
}

.icons img:hover {
  transform: scale(1.3);
}
